---
layout: community
title: Community
permalink: /community
---

<main role="main" class="main community">
    <div class="container main-content">
        <h1 class="page-title">{{ page.title }}</h1>
        <div class="row community-row">
            <div class="col-sm community-col">
                <div class="community-section">
                    <h3 class="title">Source Code</h3>
                    <p class="content">
                        Browse the source code for various projects that form the Open Data Hub.
                    </p>
                    <a class="btn btn-lg btn-primary" role="button" target="_blank"
                       href="{{ site.repo }}">
                        <i class="fab fa-gitlab"></i> GitLab
                    </a>
                </div>
            </div>
            <div class="col-sm community-col">
                <div class="community-section">
                    <h3 class="title">Mailing List</h3>
                    <p class="content">
                        Stay up to date with the latest announcements and discussion about the Open Data Hub.
                    </p>
                    <a class="btn btn-lg btn-primary" role="button" target="_blank"
                       href="{{ site.email_list }}">
                        <i class="far fa-envelope"></i> Sign Up
                    </a>
                </div>
            </div>
        </div>
</main>
